<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-3 mb-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-6">
            <div class="card shadow">
                <img src="https://i.pinimg.com/originals/74/61/35/746135af9380ec656d932250b26f219d.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="d-grid mb-3">              
                            <button class="btn btn-success">Sign Up!</button>            
                        </div>  


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>